# Packages

In [1]:
import pandas as pd
import statsmodels.api as sm

In [38]:
data = pd.read_csv('busscase.txt', header = None,) 
cols = ['ZON', 'BUSSALD', 'KUNDNR', 'ANTAVT', 'DUR', 'ANTSKAD', 'SKADKOST']
df = pd.DataFrame(data, columns = cols)
for i in range(len(data)):
    temp = data.iloc[i].str.split()[0]
    for j in range(len(temp)):
        try :
            df[cols[j]].iloc[i] = int(temp[j])
        except :
            df[cols[j]].iloc[i] = temp[j]
df

C:\Users\leona\AppData\Local\Temp\ipykernel_23100\3446716676.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[cols[j]].iloc[i] = int(temp[j])

      ZON  BUSSALD  KUNDNR  ANTAVT     DUR  ANTSKAD SKADKOST
0     1.0      0.0    15.0     2.0   579.0      0.0        .
1     1.0      0.0   145.0    47.0  4406.0    377.0   294556
2     1.0      0.0   184.0     6.0  1213.0      4.0    22152
3     1.0      0.0   226.0     9.0  1949.0      5.0      882
4     1.0      0.0   231.0     6.0  1777.0      1.0    67395
...   ...      ...     ...     ...     ...      ...      ...
1537  7.0      4.0   311.0    22.0  6142.0      2.0        0
1538  7.0      4.0   379.0     3.0   596.0      0.0        .
1539  7.0      4.0   416.0     5.0  1246.0      0.0        .
1540  7.0      4.0   422.0     2.0   304.0      0.0        .
1541  7.0      4.0   522.0     2.0   425.0      0.0        .

[1542 rows x 7 columns]

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1542 entries, 0 to 1541
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ZON       1542 non-null   float64
 1   BUSSALD   1542 non-null   float64
 2   KUNDNR    1542 non-null   float64
 3   ANTAVT    1542 non-null   float64
 4   DUR       1542 non-null   float64
 5   ANTSKAD   1542 non-null   float64
 6   SKADKOST  1542 non-null   object
dtypes: float64(6), object(1)
memory usage: 84.5+ KB

In [41]:
data = pd.read_csv('mccase.txt', header = None,) 
data

                                  0
0       0M141210.175342   0       0
1       4M36 91       0   0       0
2       5K331810.454795   0       0
3       5K412510.172603   0       0
4       6K212610.180822   0       0
...                             ...
64543  86M451630.413699   0       0
64544  86M46 971.057534   0       0
64545  87M461070.323288   0       0
64546  91M15171       0   0       0
64547  92M261370.386301   0       0

[64548 rows x 1 columns]